* {
    background-color: #303030;
    color: white;
    margin: 10px;
    text-align: center;
}

.token-item {
    margin: 20px;
    color: yellow;
}

textarea {
    width: 500px;
    height: 200px;
    background-color: #505050;
    color: white;
    font-size: 16px;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 10px;
}